.footer {
  background-color: #808080;
  color: "white";
  float: left;
}

.lokasi {
  width: 300px;
  height: 300px;
}

.medsos {
  width: 400px;
  height: 300px;
}

.tentang {
  width: 400px;
  height: 300px;
}
