.footer {
  background-color: #808080;
  color: "white";
}

.footer div {
  float: left;  
}

.lokasi {
  width: 300px;
  height: 300px;
}

.medsos {
  width: 400px;
  height: 300px;
}

.tentang {
  width: 400px;
  height: 300px;
}

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

// Usage as a mixin
.element {
  @include clearfix;
}
