.footer {
    margin-top: 50px;
    height: 600px;
    width: 100%;
    background-color: rgb(72, 74, 77);
}

.isi {
    color: white;
    display: flex;
    padding: 30px 100px;
    justify-content: space-between;
}

.lokasi {
  width: 300px;
  height: 300px;
}

.medsos {
  width: 400px;
  height: 300px;
}

.tentang {
  width: 400px;
  height: 300px;
}

.copyright {
  background-color: "black";
  color: "white";
  align: center;
}
